/*
type: stylesheet
author: julian mandl
version: 0.2

Content:

1 - Defaults (body, html, etc)
2 - HEADER
3 - FOOTER
4 - OTHER (toberenamed)
5 - COLOR
*/

/* 1 - Defaults */
html {
    background-color: var(--background_color_primary);
}

body {
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
}

/* 2 - HEADER */
header {
    border-bottom: 1px solid var(--border_color);
    font-size: large;
    /*margin: 0px 0px 10px 0px;*/
    background: var(--background_color_teritary);
    /*z-index: 10 !important;*/
    position: fixed;
    width: 100%;
    display: flex;
}
header > img {
    max-height: 64px;
    max-width: 64px;
}

/* 3 - FOOTER */
#footer-wrapper {
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    border-top: 1px solid var(--border_color);
    /* z-index: 10; */
    background: var(--background_color_teritary);
}
#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

/*4 - OTHER */
/*I don't currently like the way this is centered but hey.*/
#content-wrapper {
    text-align: center;
    background-color: var(--background_color_secondary);
    top: 50%;
    left: 50%;
    height: 80%;
    width: 95%;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*this sets everything inside the content to be centered *somehow* */
#content > * {
    margin: 0 auto;
}

#create_customer_container > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*#customer_table, #customer_table th, #customer_table td {*/
.object_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .object_table td, .object_table th {
    border: 1px solid #ddd;
    padding: 6px;
  }
  
  .object_table tr:nth-child(even) {background-color: var(--table_color_even);}
  .object_table tr:nth-child(odd) {background-color: var(--table_color_odd);}
  
  .object_table tr:hover {background-color: var(--table_color_hover);}
  
  .object_table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: var(--table_color_header);
    color: var(--font_color_secondary);
  }

/* 5 - COLORS */
:root {
    --font_color_primary: rgb(14, 14, 14);
    --font_color_secondary: white;

    --background_color_primary: rgb(65, 77, 48);
    --background_color_secondary: rgb(137, 189, 61);
    --background_color_teritary: rgb(98, 172, 29);

    --border_color: black;

    --table_color_header: #04AA6D;
    --table_color_even: rgb(48, 161, 118);
    --table_color_odd: #48d884;
    --table_color_hover: #698a7e;

}

