{% extends "layout.html" %}

{% block title %}Customers{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <h1>Customers: </h1>

    {% autoescape false %}
    {{ print_customers() }}
    {% endautoescape %}

    <div id="create_customer_container">
      <h2>Create customer: </h2>
      <form method="POST" action="/customer">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <input name="post" type="submit" value="create">CREATE</input>
      </form>
      <h2>Delete customer: </h2>
      <form method="POST" action="/customer">
        <label for="id">ID: </label>
        <input type="text" id="id" name="id">
        <input name="type" type="submit" value="delete">DELETE</input>
      </form>
      <h2>Edit customer: </h2>
      <form method="POST" action="/customer">
        <label for="id">ID: </label>
        <input type="text" id="id" name="id">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <input name="type" type="submit" value="edit">DELETE</input>
      </form>
    </div>

{% endblock %}

{% block footer %}
<div>
  {{ super() }}
  {{ date_now() }}
</div>

{% endblock %}

  