{% extends "layout.html" %}

{% block title %}Customers{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <h1>Customers: </h1>

    <!--{% autoescape false %}
    {{ print_customers() }}
    {% endautoescape %}
 
    {{customer_list}} 
    -->
    <table id='customer_table' class='object_table'>
      <tr><th>LAST</th><th>FIRST</th><th>ID</th><th>action</th></tr>

      {% for c in customer_list %}
        <tr><td>{{c['lastname']}}</td><td>{{c['firstname']}}</td><td>{{c['id']}}</td><td><a href='/customers/delete/{{c["id"]}}'>[delete]</a></td></tr>
      {% endfor %}
    </table>

    <div id="management_container">
      <h2>Create customer: </h2>
      <form method="POST" action="/customers/create">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <input name="type" type="submit" value="create">
      </form>

      <h2>Edit customer: </h2>
      <form method="POST" action="/customers/edit">
        <label for="id">ID: </label>
        <input type="text" id="id" name="id">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <input name="type" type="submit" value="edit">
      </form>
    </div>

{% endblock %}

{% block footer %}
<div>
  {{ super() }}
  {{ date_now() }}
</div>

{% endblock %}

  