{% extends "layout.html" %}

{% block title %}Customer{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <h1>Customer: </h1>

    {% autoescape false %}
    {{ print_customers() }}
    {% endautoescape %}

    <div id="create_customer_container">
      <h2>CREATE CUSTOMER: </h2>
      <form method="post" action="/customer">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname"><br><br>
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname"><br><br>
        <button name="create" type="submit" value="create">CREATE</button>
      </form>
    </div>

{% endblock %}

{% block footer %}
<div>
  {{ super() }}
  {{ date_now() }}
</div>

{% endblock %}

  