{% extends "layout.html" %}

{% block title %}Customers{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <div id="table_wrapper">
      <h2>Customers: </h2>

      <table id='customer_table' class='object_table'>
        <tr><th>LAST</th><th>FIRST</th><th>ID</th><th>action</th></tr>
        {% if customer_list == None or customer_list | length == 0 %}
          <tr><td colspan="100">List is None.</td></tr>
        {% else %}
          {% for c in customer_list %}
            {% if c['id'] == highlighted_id %}
              <tr id="highlighted_id"><td>{{c['lastname']}}</td><td>{{c['firstname']}}</td><td>{{c['id']}}</td><td><a href='/customer/delete/{{c["id"]}}'>[delete]</a></td></tr>
            {% else %}
              <tr><td>{{c['lastname']}}</td><td>{{c['firstname']}}</td><td>{{c['id']}}</td><td><a href='/customer/delete/{{c["id"]}}'>[delete]</a></td></tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      </table>
    </div>

    <div id="management_container">
      <h2>Create customer: </h2>
      <form method="POST" action="/customer/create">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <input name="type" type="submit" value="create">
      </form>

      <h2>Edit customer: </h2>
      <form method="POST" action="/customer/edit">
        <label for="id">ID: </label>
        <input type="text" id="id" name="id">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <input name="type" type="submit" value="edit">
      </form>
    </div>


{% endblock %}

{% block footer %}
<div>
  {{ super() }}
  {{ date_now() }}
</div>

{% endblock %}

  