<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Hausverwaltung - {% block title %}{% endblock %} </title>
    {% endblock %}
  </head>
  <body>
    <header><a  href="http://localhost:5000/"><img src="/static/data/logo.png"alt="HV"></a></header>
    <div id="content-wrapper">
      <div id="content">
        {% block content %}
        {% endblock %}
        <div id="debug-list">
          <h4>Debug:</h4><br>
          {##
          Warning: this prints the 5 last-added elements of debug-list, but debug-list never gets erased so it grows indefinitely  
          ##}
          {% if debug_list | length > 0 %}
            {% for n in range(0, 5 if debug_list | length > 5 else debug_list | length) %}
              Content: {{debug_list[-1-n][0]}}; Status_Code: {{debug_list[-1-n][1]}}; Headers: {{debug_list[-1-n][2]}}</br>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div id="footer-wrapper">
      <div id="footer">
        {% block footer %}
        &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
      </div>
    </div>
  </body>
</html>