<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Hausverwaltung - {% block title %}{% endblock %} </title>
    {% endblock %}
  </head>
  <body>
    <header><a  href="http://localhost:5000/"><img src="/static/data/logo.png"alt="HV"></a></header>
    <div id="content-wrapper">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer-wrapper">
      <div id="footer">
        {% block footer %}
        &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
      </div>
    </div>
  </body>
</html>