{% extends "layout.html" %}

{% block title %}Readings{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <h1>Readings: </h1>

    {% autoescape false %}
    {{ print_readings() }}
    {% endautoescape %}

    <div id="management_container">
      <h2>Create reading: </h2>
      <form method="POST" action="/readings/create">
        <label for="comment">comment: </label>
        <input type="text" id="comment" name="comment">
        <label for="customer">customer: </label>
        <input type="number" id="customer" name="customer">
        <label for="dateofreading">dateofreading: </label>
        <input type="number" id="dateofreading" name="dateofreading">
        <label for="kindofmeter">kindofmeter: </label>
        <input type="text" id="kindofmeter" name="kindofmeter">
        <br><br>
        <label for="metercount">metercount: </label>
        <input type="text" id="metercount" name="metercount">
        <label for="meterid">meterid: </label>
        <input type="number" id="meterid" name="meterid">
        <label for="substitute">substitute: </label>
        <input type="text" id="substitute" name="substitute">
        <input name="type" type="submit" value="create">
      </form>

      <h2>Edit reading: </h2>
      <form method="POST" action="/readings/edit">
        <label for="id">ID: </label>
        <input type="number" id="id" name="id">
        <label for="comment">comment: </label>
        <input type="text" id="comment" name="comment">
        <label for="customer">customer: </label>
        <input type="number" id="customer" name="customer">
        <label for="dateofreading">dateofreading: </label>
        <input type="number" id="dateofreading" name="dateofreading">
        <label for="kindofmeter">kindofmeter: </label>
        <input type="text" id="kindofmeter" name="kindofmeter">
        <br><br>
        <label for="metercount">metercount: </label>
        <input type="number" id="metercount" name="metercount">
        <label for="meterid">meterid: </label>
        <input type="text" id="meterid" name="meterid">
        <label for="substitute">substitute: </label>
        <input type="text" id="substitute" name="substitute">
        <input name="type" type="submit" value="edit">
      </form>
    </div>


{% endblock %}

{% block footer %}
<div>
  {{ super() }}
  {{ date_now() }}
</div>

{% endblock %}

  