{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
    <h1>Users: </h1>

    {% autoescape false %}
    {{ print_users() }}
    {% endautoescape %}

    <div id="management_container">
      <h2>Create user: </h2>
      <form method="POST" action="/users/create">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <label for="password">Password: </label>
        <input type="text" id="password" name="password">
        <label for="token">Token: </label>
        <input type="text" id="token" name="token">
        <input name="type" type="submit" value="create">
      </form>

      <h2>Edit user: </h2>
      <form method="POST" action="/users/edit">
        <label for="id">ID: </label>
        <input type="text" id="id" name="id">
        <label for="firstname">First name: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last name: </label>
        <input type="text" id="lastname" name="lastname">
        <label for="password">Password: </label>
        <input type="text" id="password" name="password">
        <label for="token">Token: </label>
        <input type="text" id="token" name="token">
        <input name="type" type="submit" value="edit">
      </form>
    </div>


{% endblock %}

{% block footer %}
<div>
  {{ super() }}
  {{ date_now() }}
</div>

{% endblock %}

  